/*########################################################## 스타일##################################################*/ 
/* QWidget{
    background : #ff0080
} */




/*------------------------------------------------------------------------------------------------------------------------*/